.panel {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
    color: #ffffff;
    background-color: lightgrey;
}

.panel_error {
    background-color: rgb(153, 0, 0);
}

.panel__link {
    border-bottom: dashed;
    cursor: pointer;
}

.panel__link:hover {
    color: aquamarine;
}

.panel__login-block {
    
}

.panel__control-block {
    
}

.panel__form {
    display: inline-block;
}

.popup {
    /* position: absolute;
    top: 10vh;
    left: 10vw;
    border: 2px solid gray;
    z-index: 10; */
    padding: 20px;
    font-size: 16px;
    color: black;
    border-radius: 4px;
    background-color: blanchedalmond;
}