.sector {
    width: 8.1vw;
    margin-bottom: 1px;
    /* position: absolute;
    max-width: 6vw;
    margin-left: 0.2vw;
    padding: 0.2vh;
    border-radius: 3%; */
    font-size: 8px;
    text-align: left;
}
.sector:hover {
    opacity: 0.6;
}

.sector.sector_type0 {
    background-color: aqua;
}

.sector.sector_type1 {
    background-color: rgb(234, 235, 184);
}

.sector.sector_type2 {
    background-color: yellowgreen;
}

.sector__creature {
    display: inline-block;
    margin: 2px;
    padding: 2px;
    font-size: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    cursor: help;
}

.sector__creature-red {
    background-color: red;
}